node-red/flow.json
[
  {
    "id": "tab_ioi",
    "type": "tab",
    "label": "IOI Camera",
    "disabled": false,
    "info": "Flujo base: captura un frame TIFF, genera preview JPEG, muestra en dashboard."
  },

  {"id":"ui_base_1","type":"ui_base","theme":{"name":"theme-dark","darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"themeState":{"base-color":{"default":false},"page-titlebar-backgroundColor":{"value":"#097479","default":true},"page-backgroundColor":{"value":"#111111","default":true},"page-sidebar-backgroundColor":{"value":"#000000","default":true},"group-textColor":{"value":"#0eb8c0","default":true},"group-borderColor":{"value":"#555555","default":true},"group-backgroundColor":{"value":"#333333","default":true},"widget-textColor":{"value":"#eeeeee","default":true},"widget-backgroundColor":{"value":"#097479","default":true},"widget-borderColor":{"value":"#333333","default":true}}},"site":{"name":"IOI","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowInstall":"true","showPaletteCategory":"true"}},
  {"id":"uitab_camera","type":"ui_tab","name":"Camera","icon":"camera","order":1,"disabled":false,"hidden":false},
  {"id":"uigrp_stream","type":"ui_group","name":"Live stream","tab":"uitab_camera","order":1,"disp":true,"width":"6","collapse":false},
  {"id":"uigrp_capture","type":"ui_group","name":"Capture","tab":"uitab_camera","order":2,"disp":true,"width":"6","collapse":false},

  {
    "id": "inject_config",
    "type": "inject",
    "z": "tab_ioi",
    "name": "Config (on deploy)",
    "props": [{"p":"payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140, "y": 60,
    "wires": [["fn_set_config"]]
  },
  {
    "id": "fn_set_config",
    "type": "function",
    "z": "tab_ioi",
    "name": "Backend URL",
    "func": "// Cambia esta IP si el backend corre en otra maquina\nglobal.set('backend_url', 'http://192.168.0.36:5001');\nnode.status({fill:'green', shape:'dot', text:'ok'});\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "", "finalize": "", "libs": [],
    "x": 350, "y": 60,
    "wires": [[]]
  },

  {
    "id": "ui_live_stream",
    "type": "ui_template",
    "z": "tab_ioi",
    "group": "uigrp_stream",
    "name": "Live stream",
    "order": 1,
    "width": 0, "height": 0,
    "format": "<div style=\"text-align:center;padding:8px\">\n  <img src=\"http://192.168.0.36:5001/stream\"\n       style=\"max-width:100%;border-radius:4px;display:block;margin:0 auto\">\n  <p style=\"color:#999;font-size:11px;margin-top:6px\">Live</p>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 350, "y": 120,
    "wires": [[]]
  },

  {
    "id": "btn_capture",
    "type": "ui_button",
    "z": "tab_ioi",
    "name": "Capture",
    "group": "uigrp_capture",
    "order": 1,
    "width": 0, "height": 0,
    "passthru": false,
    "label": "Capture Frame",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{}",
    "payloadType": "json",
    "topic": "", "topicType": "str",
    "x": 140, "y": 220,
    "wires": [["fn_capture_request"]]
  },
  {
    "id": "fn_capture_request",
    "type": "function",
    "z": "tab_ioi",
    "name": "Prepare capture",
    "func": "msg.payload = {};\nmsg.headers = {'Content-Type': 'application/json'};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "", "finalize": "", "libs": [],
    "x": 320, "y": 220,
    "wires": [["http_capture_frame"]]
  },
  {
    "id": "http_capture_frame",
    "type": "http request",
    "z": "tab_ioi",
    "name": "POST /api/capture/frame",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:5001/api/capture/frame",
    "tls": "", "persist": false, "proxy": "", "authType": "",
    "x": 530, "y": 220,
    "wires": [["fn_prepare_preview", "debug_capture"]]
  },
  {
    "id": "debug_capture",
    "type": "debug",
    "z": "tab_ioi",
    "name": "Capture result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 530, "y": 280,
    "wires": []
  },
  {
    "id": "fn_prepare_preview",
    "type": "function",
    "z": "tab_ioi",
    "name": "Prepare preview",
    "func": "var result = msg.payload;\nif (!result || !result.ok || !result.frame) {\n    node.error('Capture failed: ' + JSON.stringify(result));\n    node.status({fill:'red', shape:'dot', text:'capture error'});\n    return null;\n}\nnode.status({fill:'green', shape:'dot', text: result.frame.frame_id});\nmsg.payload = {\n    image_path: result.frame.image_path,\n    max_size: 800,\n    quality: 90\n};\nmsg.headers = {'Content-Type': 'application/json'};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "", "finalize": "", "libs": [],
    "x": 750, "y": 220,
    "wires": [["http_preview"]]
  },
  {
    "id": "http_preview",
    "type": "http request",
    "z": "tab_ioi",
    "name": "POST /api/blocks/preview",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:5001/api/blocks/preview",
    "tls": "", "persist": false, "proxy": "", "authType": "",
    "x": 960, "y": 220,
    "wires": [["fn_build_url", "debug_preview"]]
  },
  {
    "id": "debug_preview",
    "type": "debug",
    "z": "tab_ioi",
    "name": "Preview result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 960, "y": 280,
    "wires": []
  },
  {
    "id": "fn_build_url",
    "type": "function",
    "z": "tab_ioi",
    "name": "Build image URL",
    "func": "var result = msg.payload;\nif (!result || !result.ok || !result.http_path) {\n    node.error('Preview failed: ' + JSON.stringify(result));\n    node.status({fill:'red', shape:'dot', text:'preview error'});\n    return null;\n}\nvar backendUrl = global.get('backend_url') || 'http://localhost:5001';\nnode.status({fill:'green', shape:'dot', text:'ready'});\nmsg.payload = backendUrl + result.http_path;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "", "finalize": "", "libs": [],
    "x": 1170, "y": 220,
    "wires": [["ui_captured_image"]]
  },
  {
    "id": "ui_captured_image",
    "type": "ui_template",
    "z": "tab_ioi",
    "group": "uigrp_capture",
    "name": "Captured image",
    "order": 2,
    "width": 0, "height": 0,
    "format": "<div style=\"text-align:center;padding:8px\">\n  <img ng-if=\"msg.payload\"\n       ng-src=\"{{msg.payload}}\"\n       style=\"max-width:100%;border-radius:4px;display:block;margin:0 auto\">\n  <p ng-if=\"!msg.payload\"\n     style=\"color:#888;font-style:italic;padding:32px 0\">No capture yet</p>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 1380, "y": 220,
    "wires": [[]]
  }
]
