node-red/flow.json
[
  {
    "id": "tab_ioi",
    "type": "tab",
    "label": "IOI Camera",
    "disabled": false,
    "info": "Captura un frame TIFF, genera preview JPEG, muestra en canvas."
  },

  {
    "id": "inject_config",
    "type": "inject",
    "z": "tab_ioi",
    "name": "Config (on deploy)",
    "props": [{"p":"payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150, "y": 60,
    "wires": [["fn_set_config"]]
  },
  {
    "id": "fn_set_config",
    "type": "function",
    "z": "tab_ioi",
    "name": "Backend URL",
    "func": "global.set('backend_url', 'http://192.168.0.39:5001');\nnode.status({fill:'green', shape:'dot', text:'ok'});\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "", "finalize": "", "libs": [],
    "x": 370, "y": 60,
    "wires": [[]]
  },

  {
    "id": "inject_capture",
    "type": "inject",
    "z": "tab_ioi",
    "name": "Capture Frame",
    "props": [{"p":"payload"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 150, "y": 180,
    "wires": [["fn_capture_request"]]
  },
  {
    "id": "fn_capture_request",
    "type": "function",
    "z": "tab_ioi",
    "name": "Prepare",
    "func": "msg.payload = {};\nmsg.headers = {'Content-Type': 'application/json'};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "", "finalize": "", "libs": [],
    "x": 330, "y": 180,
    "wires": [["http_capture"]]
  },
  {
    "id": "http_capture",
    "type": "http request",
    "z": "tab_ioi",
    "name": "POST /api/capture/frame",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:5001/api/capture/frame",
    "tls": "", "persist": false, "proxy": "", "authType": "",
    "x": 520, "y": 180,
    "wires": [["fn_prepare_preview", "debug_capture"]]
  },
  {
    "id": "debug_capture",
    "type": "debug",
    "z": "tab_ioi",
    "name": "capture",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload.frame.frame_id",
    "targetType": "msg",
    "x": 520, "y": 240,
    "wires": []
  },

  {
    "id": "fn_prepare_preview",
    "type": "function",
    "z": "tab_ioi",
    "name": "Prepare preview",
    "func": "var result = msg.payload;\nif (!result || !result.ok || !result.frame) {\n    node.error('Capture failed: ' + JSON.stringify(result));\n    node.status({fill:'red', shape:'dot', text:'error'});\n    return null;\n}\nnode.status({fill:'green', shape:'dot', text: result.frame.frame_id});\nmsg.payload = {\n    image_path: result.frame.image_path,\n    max_size: 800,\n    quality: 90\n};\nmsg.headers = {'Content-Type': 'application/json'};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "", "finalize": "", "libs": [],
    "x": 740, "y": 180,
    "wires": [["http_preview"]]
  },
  {
    "id": "http_preview",
    "type": "http request",
    "z": "tab_ioi",
    "name": "POST /api/blocks/preview",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://localhost:5001/api/blocks/preview",
    "tls": "", "persist": false, "proxy": "", "authType": "",
    "x": 960, "y": 180,
    "wires": [["fn_fetch_image", "debug_preview"]]
  },
  {
    "id": "debug_preview",
    "type": "debug",
    "z": "tab_ioi",
    "name": "preview",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload.http_path",
    "targetType": "msg",
    "x": 960, "y": 240,
    "wires": []
  },

  {
    "id": "fn_fetch_image",
    "type": "function",
    "z": "tab_ioi",
    "name": "Build fetch URL",
    "func": "var result = msg.payload;\nif (!result || !result.ok || !result.http_path) {\n    node.error('Preview failed: ' + JSON.stringify(result));\n    node.status({fill:'red', shape:'dot', text:'error'});\n    return null;\n}\nnode.status({fill:'green', shape:'dot', text:'fetching'});\nmsg.url = 'http://localhost:5001' + result.http_path;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "", "finalize": "", "libs": [],
    "x": 1170, "y": 180,
    "wires": [["http_get_image"]]
  },
  {
    "id": "http_get_image",
    "type": "http request",
    "z": "tab_ioi",
    "name": "GET preview (binary)",
    "method": "GET",
    "ret": "bin",
    "paytoqs": "ignore",
    "url": "{{{msg.url}}}",
    "tls": "", "persist": false, "proxy": "", "authType": "",
    "x": 1380, "y": 180,
    "wires": [["image_output"]]
  },
  {
    "id": "image_output",
    "type": "image",
    "z": "tab_ioi",
    "name": "Preview",
    "width": "320",
    "data": "payload",
    "dataType": "msg",
    "thumbnail": false,
    "active": true,
    "pass": false,
    "outputs": 0,
    "x": 1580, "y": 180,
    "wires": []
  }
]
